/*-----------------------------
    DASHBOARD
-----------------------------*/
.main {
  background-color: $background-color-bright;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.small-row {
  height: 40%;
  display: flex;
}

.single-price-container,
.currencies-container {
  background-color: $background-color-dark;
}

.single-price-container {
  width: 500px;
  margin: 50px 25px 25px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.info-icon-main {
  position: absolute;
  right: 10px;
  top: 10px;
}

.single-price-value {
  font-size: 30px;
  font-weight: bold;
  color: $font-color-special;
}

.currencies-container {
  flex-grow: 1;
  margin: 50px 50px 25px 25px;
  padding: 40px 100px 40px 100px;
  display: flex;
  flex-direction: column;
}

.currency-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.scroll-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 85%;
}

.currency-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency-element {
  width: 33.33%;
  width: calc(100% / 3);
  display: flex;
  margin-bottom: 15px;
}

.tall-row {
  flex-grow: 1;
  display: flex;
}
.price-chart-container {
  background-color: $background-color-dark;
  margin: 25px 25px 50px 50px;
  width: 900px;
}

.bitcoin-overview-container {
  background-color: $background-color-dark;
  margin: 25px 50px 50px 25px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-wallet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 0 auto 0;
  height: 100%;
}

.dashboard-wallet-values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equal-sign {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}
