/*-----------------------------
    GENERAL & APP
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-main;
  color: $font-color-standard;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.navigation-main-split {
  display: flex;
  height: 93vh;
  min-height: 500px;
}

.special-font-color {
  color: $font-color-special;
}
