/*-----------------------------
    HEADER
-----------------------------*/
.header {
  height: 7vh;
  min-height: 60px;
  width: 100%;
  background-color: $background-color-dark;
  border-bottom: 3px solid rgba(31, 31, 31, 0.4);
  @include flex-center;
}

.company-icon-container {
  @include flex-center;
  margin-right: 10px;

  img {
    height: 40px;
    width: 40px;
  }
}

.headline-title {
  font-size: 25px;
  margin-left: 10px;
  color: $font-color-standard;
  letter-spacing: 1px;
  span {
    font-weight: bold;
    color: $font-color-special;
  }
}
