/*-----------------------------
    GENERAL & APP
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #eeeeee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation-main-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 93vh;
  min-height: 500px;
}

/*-----------------------------
    HEADER
-----------------------------*/
.header {
  height: 7vh;
  min-height: 60px;
  width: 100%;
  background-color: #282e2f;
  border-bottom: 2px solid #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.company-icon-container img {
  height: 40px;
  width: 40px;
}

.headline-title {
  font-size: 25px;
  margin-left: 10px;
  color: #eeeeee;
  letter-spacing: 1px;
}

.headline-title span {
  font-weight: bold;
  color: #1df1ff;
}

/*-----------------------------
    NAVIGATION
-----------------------------*/
.navigation {
  background-color: #282e2f;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container {
  height: 30%;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.profile-picture {
  width: 110px;
  height: 110px;
}

.profile-name {
  margin-top: 20px;
}

.option-links {
  margin-top: 40px;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 13px 0 13px 0;
}

.nav-link-text {
  margin-left: 10px;
}

/*-----------------------------
    MAIN
-----------------------------*/
.main {
  background-color: #535859;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.small-row {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-price-container,
.currencies-container {
  background-color: #282e2f;
}

.single-price-container {
  width: 500px;
  margin: 50px 25px 25px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.info-icon-main {
  position: absolute;
  right: 15px;
  top: 15px;
}

.single-price-value {
  font-size: 30px;
  font-weight: bold;
  color: #1df1ff;
}

.currencies-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 50px 50px 25px 25px;
}

.tall-row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-chart-container {
  background-color: #282e2f;
  margin: 25px 50px 50px 50px;
  width: 900px;
}
/*# sourceMappingURL=app.css.map */