/*-----------------------------
    GENERAL & APP
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #eeeeee;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.navigation-main-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 93vh;
  min-height: 500px;
}

.special-font-color {
  color: #1df1ff;
}

.btn {
  background-color: #282e2f;
  border: 1px solid #535859;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn:hover {
  color: #1df1ff;
}

input {
  background-color: #282e2f;
  height: 35px;
  border: 2px solid #1df1ff;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
}

select {
  height: 35px;
}

/*-----------------------------
    HEADER
-----------------------------*/
.header {
  height: 7vh;
  min-height: 60px;
  width: 100%;
  background-color: #282e2f;
  border-bottom: 3px solid rgba(31, 31, 31, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.company-icon-container img {
  height: 40px;
  width: 40px;
}

.headline-title {
  font-size: 25px;
  margin-left: 10px;
  color: #eeeeee;
  letter-spacing: 1px;
}

.headline-title span {
  font-weight: bold;
  color: #1df1ff;
}

/*-----------------------------
    NAVIGATION
-----------------------------*/
.navigation {
  background-color: #282e2f;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 830px;
}

.profile-container {
  height: 30%;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.profile-picture {
  width: 110px;
  height: 110px;
}

.profile-name {
  margin-top: 20px;
}

.option-links {
  margin-top: 40px;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 13px 0 13px 0;
}

.inactive-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 13px 0 13px 40px;
  color: #1df1ff;
  width: 230px;
}

.inactive-link div {
  margin-left: 15px;
}

.inactive-link a {
  margin-left: 15px;
}

.active-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 13px 0 13px 40px;
  color: #1df1ff;
  background-color: #4c4c4c;
  width: 230px;
}

.active-link div {
  color: #1df1ff;
  margin-left: 15px;
}

/*-----------------------------
    DASHBOARD
-----------------------------*/
.main {
  background-color: #535859;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 830px;
}

.small-row {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-price-container,
.currencies-container {
  background-color: #282e2f;
}

.single-price-container {
  width: 500px;
  margin: 50px 25px 25px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.info-icon-main {
  position: absolute;
  right: 10px;
  top: 10px;
}

.single-price-value {
  font-size: 30px;
  font-weight: bold;
  color: #1df1ff;
}

.currencies-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 50px 50px 25px 25px;
  padding: 40px 100px 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.currency-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.scroll-container {
  overflow: hidden;
  overflow-y: scroll;
  height: 85%;
}

.currency-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency-element {
  width: 33.33%;
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.tall-row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-chart-container {
  background-color: #282e2f;
  margin: 25px 25px 50px 50px;
  width: 900px;
}

.bitcoin-overview-container {
  background-color: #282e2f;
  margin: 25px 50px 50px 25px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-wallet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0 auto 0;
  height: 100%;
}

.dashboard-wallet-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equal-sign {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}

/*-----------------------------
    CALCULATOR
-----------------------------*/
.calculate-container {
  background-color: #282e2f;
  width: 500px;
  margin: 50px 25px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  height: 400px;
}

.calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculation select {
  background-color: #282e2f;
}

.calculation input {
  background-color: #282e2f;
}

.conversion-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold;
}

/*-----------------------------
    MY BITCOIN
-----------------------------*/
.investment-container {
  background-color: #282e2f;
  width: 650px;
  height: 500px;
  margin: 50px 25px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}

.investment select {
  background-color: #282e2f;
}

.investment input {
  background-color: #282e2f;
}

.wallet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.wallet-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.wallet-value {
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bitcoin-value {
  color: #1df1ff;
}

.wallet-bitcoin-icon {
  height: 24px;
  margin-right: 10px;
}

.separation {
  font-weight: bold;
}

.edit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-icon {
  width: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.history-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 180px;
  border: 2px solid #535859;
  padding: 10px 20px 10px 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.history-title {
  margin-bottom: 15px;
  margin-left: 15px;
}

.history-value-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*-----------------------------
    DIAGRAM
-----------------------------*/
.price-chart-header {
  padding: 30px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: auto;
}

.price-chart-header button {
  font-size: 16px;
  width: 200px;
}

/*-----------------------------
    DETAILS
-----------------------------*/
.details-container {
  width: 600px;
  height: 400px;
  margin: 50px 25px 25px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  background-color: #282e2f;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  padding: 10px;
}

.detail-name,
.detail-value {
  color: #1df1ff;
}
/*# sourceMappingURL=app.css.map */